.campaigns .campaign-items {
    padding: 70px 35px;
    background-size: cover;
    background-position: center;
    flex: 1;
    color: white;
  }
  .campaign-items .campaign-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
  }
  .campaign-items .campaign-desc {
    margin: 40px 0;
    font-size: 14px;
  }
  .campaigns-wrapper:nth-child(1) .campaign-items:nth-child(1) {
      background-image: url(../../img/campaigns/banner1.png);
  }
  .campaigns-wrapper:nth-child(1) .campaign-items:nth-child(2) {
      background-image: url(../../img/campaigns/banner2.png);
  }
  .campaigns-wrapper:nth-child(2) .campaign-items:nth-child(1) {
      background-image: url(../../img/campaigns/banner3.png);
      flex: 5;
  }
  .campaigns-wrapper:nth-child(2) .campaign-items:nth-child(2) {
      background-image: url(../../img/campaigns/banner4.png);
      flex: 3;
  }
  @media (max-width:768px)
  {
      .campaigns .campaign-items{
          width: 100%;
          flex: unset !important;
      }
  }
  